<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://jiu-chuan.com/wp-content/uploads/2014/01/Dimensional-Images-900x1600.jpg</string>
	<string>http://cdn.arstechnica.net/wp-content/uploads/2012/10/01_Place_Peters-640x450.jpg</string>
	<string>http://www.thefoxisblack.com/blogimages//Images-from-Deep-in-the-Woods-by-Astrid-Yskout-1.jpg</string>
	<string>http://blog.gettyimages.com/wp-content/uploads/2012/10/Minato-Mirai-night-view-Flickr-Collection-DigiPub-Getty-Images-145679662-e1349650715764.jpg</string>
	<string>http://englishwell.info/uploads/taginator/Nov-2013/image.jpg</string>
	<string>http://imaging.nikon.com/lineup/dslr/d7100/img/sample/img_07.jpg</string>
	<string>http://upload.wikimedia.org/wikipedia/commons/3/35/Siganus_corallinus_Brest.jpg</string>
	<string>http://images.socialnewsdaily.com/wp-content/uploads/2013/11/tilred-kilt.jpg</string>
	<string>http://image.shutterstock.com/display_pic_with_logo/1417483/134648669/stock-vector-abstract-technology-flower-background-in-color-vector-illustration-134648669.jpg</string>
	<string>http://mcgovern.mit.edu/news/wp-content/uploads/2013/09/Final-Image-1.jpeg</string>
</array>
</plist>
